##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

frontend {{ configuration.name }}-frontend
    #
    {% if configuration.frontend.description | default(false) %}
    description {{ configuration.frontend.description }}
    {% endif %}
    mode {{ configuration.frontend.mode }}
    {% if configuration.frontend.https | default(false) %}
    bind "{{ configuration.frontend.bind }}:{{ configuration.frontend.port }}" ssl crt {{ configuration_fullchain }}
    {% else %}
    bind "{{ configuration.frontend.bind }}:{{ configuration.frontend.port }}"
    {% endif %}
    #
    default_backend {{ configuration.name }}-backend

backend {{ configuration.name }}-backend
    #
    balance {{ configuration.backend.balance }}
    mode {{ configuration.frontend.mode }}
    {% if configuration.frontend.mode == "http" %}
    option httpchk HEAD / HTTP/1.1\r\nHost:\ {{ configuration.name }}
    {% endif %}
    #
    {% if configuration.backend.options | default(false) %}
        {% for option in configuration.backend.options %}
    option {{ option }}
        {% endfor %}
    {% endif %}
    #
    cookie SERVERID insert indirect nocache
    http-request set-header X-Forwarded-Port {{ configuration.backend.forwarded_port }}
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    #
    {% if configuration.backend.http_check_status | default(false) %}
    http-check expect status {{ configuration.backend.http_check_status }}
    {% endif %}

    #
    {% for server in configuration.backend.servers %}
    server {{ server.name }} {{ server.addresse }}:{{ server.port }} cookie S{{ loop.index }} {% if server.https == true %}ssl verify none{% endif %} check inter 2s fall 3 rise 3 {% if server.backup is defined %}{% if server.backup == true %} backup {% endif %}{% endif %}
    
    {% endfor %}

